<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terminarz zajec</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles/style.css')}}">
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
        }
        td { border: 1px solid black; }
    </style>
</head>
<body>
    <h1>Terminarz zajec</h1>
    <table>
        <tr>
            <th>Godziny zajęć</th>
            <th>Poniedzialek</th>
            <th>Wtorek</th>
            <th>Sroda</th>
            <th>Czwartek</th>
            <th>Piatek</th>
            <th>Sobota</th>
            <th>Niedziela</th>
        </tr>

        {% for tydzien in kalendarz %}
            <tr>
                <td>
                    <div class="day-row"></div>
                    <div class="day-row">08:00-09:35</div>
                    <div class="day-row">09:50-11:25</div>
                    <div class="day-row">11:40-13:15</div>
                    <div class="day-row">13:30-15:05</div>
                    <div class="day-row">15:45-17:20</div>
                    <div class="day-row">17:35-19:10</div>
                    <div class="day-row">19:25-21:00</div>
                </td>

                {% for dzien, zajecia in tydzien.items() %}
                    <td>
                        <div class="day-row">{{ dzien }}</div>
                        {% for przedmiot in zajecia %}
                            {% if przedmiot != '' %}
                                <div class="day-row">{{ przedmiot["Temat"] }} - {{ przedmiot["Lokalizacja"] }}</div>
                            {% else %}
                                <div class="day-row"></div>
                            {% endif %}
                        {% endfor %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</body>
</html>
