<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendar</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Terminarz zajec</h1>
    <table>
        <tr>
            <th>Poniedzialek</th>
            <th>Wtorek</th>
            <th>Sroda</th>
            <th>Czwartek</th>
            <th>Piatek</th>
            <th>Sobota</th>
            <th>Niedziela</th>
        </tr>
        {% for week in data_kalendarza %}
            <tr>
                {% for dzien_eventy in week %}
                    <td>
                        {% if dzien_eventy %}
                            <strong>{{ loop.index }}</strong><br>
                            {{ dzien_eventy }}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</body>
</html>
