<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terminarz zajec</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
        }
        td { border: 1px solid black; }
    </style>
</head>
<body>
    <h1>Terminarz zajec</h1>
    <table>
    <tr>
        <th>Poniedzialek</th>
        <th>Wtorek</th>
        <th>Sroda</th>
        <th>Czwartek</th>
        <th>Piatek</th>
        <th>Sobota</th>
        <th>Niedziela</th>

    </tr>
    {% for tydzien in kalendarz %}
    <tr>
        {% for dzien in tydzien %}
            <td>
                {{ dzien }}
                {% for linijka in zajecia %}
                    {% if linijka[2] == dzien %}
                        <br>{{ linijka[0] }} - {{ linijka[1] }}
                    {% endif %}
                {% endfor %}
            </td>
        {% endfor %}
    </tr>
    {% endfor %}
    </table>
</body>
</html>
